.courseMainDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card {
  width: 350px;
  border: 2px solid gray;
  border-radius: 5px;
  padding: 50px;
  margin: 5px 10px;
}
.cardPrice {
  font-style: italic;
  color: darkred;
}
.cardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.cardDeleteBtn {
  width: 100px;
  padding: 10px;
  border-radius: 10px;
  border: none;
  background-color: rebeccapurple;
  color: white;
  cursor: pointer;
}
.zeroCourse {
  text-align: center;
}
.changeCourse {
  border: none;
  background: none;
  font-size: 20px;
  color: blue;
  height: 150px;
}
